<div class="content-area">
  <header>
    <h1>Meus Certificados</h1>
  </header>

  <section class="cards-section">
    <div
      class="certificate-card"
      *ngFor="let certificado of certificados"
    >
      <span class="badge">Certificado</span>

      <h2>{{ certificado.titulo }}</h2>

      <p>
        <strong>Aluno:</strong> {{ certificado.aluno }}
      </p>

      <p>
        <strong>Carga horária:</strong>
        {{ certificado.cargaHoraria }} horas
      </p>

      <div class="card-footer">
        <span class="date">{{ certificado.data }}</span>

        <button
          class="btn"
          
        >
          Ver certificado
        </button>
      </div>
    </div>
  </section>
</div>
