<div class="container">
  <app-siderbar *ngIf="showSidebar || !isMobile"></app-siderbar>
  <div class="container-main" *ngIf="!showSidebar || !isMobile">
    <div class="content">
      <!-- <router-outlet></router-outlet> -->
    </div>
    <app-navigation
      (openSidebar)="openSidebar()"
      (navigate)="onNavigate()"
    ></app-navigation>
  </div>

  <app-navigation
    class="mobile-nav"
    *ngIf="isMobile"
    (openSidebar)="openSidebar()"
    (navigate)="onNavigate()"
  ></app-navigation>
</div>
