.content {
  display: flex;
  flex: 1;
  padding: 25px;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  color: var(--text-muted);
  transition: all 0.3s ease;
}

.nav-item i {
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: var(--purple);
  transform: translateY(-3px);
}

/* Esconde por padrão (telas grandes) */
.icon-mobile {
  display: none;
}

/* Mostra apenas em telas pequenas */
@media (max-width: 768px) {
  .icon-mobile {
    display: flex; /* ou block */
  }
}

 
